<!-- Strona edycji działu. Czy tylko edycji to się jeszcze zobaczy... -->


<!--

1. Ma w założeniu wzywać wypełniony formularz danego działu i mieć przycisk zapisz znmiany.
Podobnie jak event, tylko, że level niżej.

2. Ma mieć możliwość dodawania i usuwania roli userów (j.w.)

3. Wyjście na edycję danej roli.

4. Czyli wlaściwie poniekąd kopia z eventu, tylko poziom niżej dla klarowności.

TO:DO - Na poziomie eventu dodać linki do edycji poszczególnych userroli.
      - Na poziomie działu dodać link do eventu z którego się on bierze.
      - Na poziomie userroli dodać link do eventu i działu z której się ona bierze.
-->
