{% extends 'base.html' %}
{% load static %}
{% load xfilters %}

{% block title %}
<title>{{ event.title }}</title>
{% endblock %}

{% block css %}
{% endblock %}
{% block css2 %}
{% endblock %}

<!--Zwraca oryginalną kompozycję menu z bazy. Potem podstawiasz zmienne,-->
{% block aside %}
 {{ block.super }}
{% endblock aside %}

{% block menu %}
  {% include 'menus/eventsmenu.html' %} <!-- Menu z opcjami -->
{% endblock menu %}

{% block body %}
        <main role="main">
          <h3 class="text-center pt-3 ">{{ event.title }}</h3>
          <div class="row">
            <div class="col-md-7 event-main">
              <div class="container">
                <p>$Dodano: {{ event.pubdate_short }}<br>
                $Przez: {{ event.owner.first_name }}<p>
                <p>$Zaczyna się: {{ event.datefrom }}<br>
                $Kończy się: {{ event.dateto }}</p>
              </div>
            </div>
            <div class="col-md-5 event-main">
              {% if event.image %}<!--jeśli jest link to go wyświetl -->
                {% with event as e %}
                  <img class="img-fluid" src="{{ e.image.url }}" width=100% height=auto />
                {% endwith %}
              {% else %}
                  <img class="img-fluid allimg" src="{{ skin.eventimagedefault.url }}" />
              {% endif %}
            </div>
          </div><!-- /.row -->

          <div class="row">
            <div class="col-md-12 event-main">
<!--TO DO--> <!--Tutaj mogą iść ikonki z opisem onhover jakiego typu jest impreza-->
              <div class="container">
               <p>$O wydarzeniu: {{ event.body|linebreaksbr }}</p>
              </div>
            </div>
          </div><!-- /.row -->
        {% for divider in dividers %}
          <div class="row">
            <div class="col-md-12 event-main">
              <hr/>
              <div class="container">
                <h3>{{ divider.title }}</h3>
                <p>{{ divider.id }}</p>
                {% if userroles1 %}
                 <h4>$Uczestnicy: (jeśli są)</h4>
                 {% for userrole in x|riselookup %}

                  <h4>{{ userrole.title }}<h4>
                  <p>{{ userrole.from_event }}<p>
                 {% endfor %}
                {% endif %}
             </div>
            </div>
          </div><!-- /.row -->
        {% endfor %}
      </main>
      <!-- empty div -->
        <div class="top-content">
          <div class="container">
        <div class="row">	<div class="col-sm-12 text wow fadeInLeft"></div></div>


      </div>
      </div>
      <!-- end of empty div -->
{% endblock body %}


{% block scripts %}
{% endblock %}
{% block scripts2 %}
{% endblock %}
