{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>{{ event.title }}</title>
{% endblock %}

{% block css %}
{% endblock %}
{% block css2 %}
{% endblock %}

<!--Zwraca oryginalną kompozycję menu z bazy. Potem podstawiasz zmienne,-->
{% block aside %}
 {{ block.super }}
{% endblock aside %}

{% block menu %}
  {% include 'menus/eventsmenu.html' %} <!-- Menu z opcjami -->
{% endblock menu %}

{% block body %}
    <br>
    <br>
    <br>
        <main role="main">
          <div class="row">
            <div class="col-md-7 event-main">
              <div class="container">
                <h3 class="text-center pt-3 ">{{ event.title }}</h3>
                <p>$Dodano: {{ event.pubdate_short }}<br>
                $Przez: {{ event.owner.first_name }}<p>

                <hr />
                {% if event.image %}<!--jeśli jest link to go wyświetl -->
                    <br/>
                  {% with event as e %}
                    <img class="img-fluid" src="{{ e.image.url }}" width=100% height=auto />
                  {% endwith %}
                {% else %}
                    <img class="img-fluid allimg" src="{{ skin.eventimagedefault.url }}" />
                {% endif %}
                <br />
                <br />
                <p>$Zaczyna się: {{ event.datefrom }}</p>
                <p>$Kończy się: {{ event.dateto }}</p>
                <p>$O wydarzeniu: <br>{{ event.body|linebreaksbr }}</p>

              </div>
            </div>
          </div><!-- /.row -->

      </main>
      <!-- empty div -->
        <div class="top-content">
          <div class="container">
        <div class="row">	<div class="col-sm-12 text wow fadeInLeft"></div></div>


      </div>
      </div>
      <!-- end of empty div -->
{% endblock body %}


{% block scripts %}
{% endblock %}
{% block scripts2 %}
{% endblock %}
