{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>{{ event.title }}</title>
{% endblock %}

{% block css %}
{% endblock %}
{% block css2 %}
{% endblock %}

<!--Zwraca oryginalną kompozycję menu z bazy. Potem podstawiasz zmienne,-->
{% block aside %}
 {{ block.super }}
{% endblock aside %}

{% block menu %}
  {% include 'menus/eventsmenu.html' %} <!-- Menu z opcjami -->
  {% include 'menus/advertisements.html' %} <!-- Zestaw reklam do wyświetlenia -->
{% endblock menu %}

{% block body %}
      <main role="main">
       {% if editor_view %} <!-- Zależnie czy twórca, czy ktoś z zewnątrz, to pojawia się inny widok -->
          {% include 'elements/base_event_edit.html' %}
       {% else %}
          {% include 'elements/base_event_view.html' %}
       {% endif %}
      </main>
      {% include 'elements/eventpage_for_edit.html' %}
      <!-- empty div -->
        <div class="top-content">
          <div class="container">
        <div class="row">	<div class="col-sm-12 text wow fadeInLeft"></div></div>


      </div>
      </div>
      <!-- end of empty div -->
{% endblock body %}


{% block scripts %}
 <script src="/static/assets/js/event_elements_switch.js"></script>
 <script src="/static/assets/js/event_remove_safelock.js"></script>
{% endblock %}
{% block scripts2 %}
  {% include 'widgets/date_period.html' %}
{% endblock %}
