{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>{{ menu.new_event }}</title>
{% endblock %}

{% block css %}

{% endblock %}
{% block css2 %}
{% endblock %}

<!--Zwraca oryginalną kompozycję menu z bazy. Potem podstawiasz zmienne,-->
{% block aside %}
 {{ block.super }}
{% endblock aside %}

{% block menu %}
  {% include 'menus/eventsmenu.html' %} <!-- Menu z opcjami -->
  {% include 'menus/advertisements.html' %} <!-- Zestaw reklam do wyświetlenia -->
{% endblock menu %}

{% block body %}

    <main role="main kol">
      <div class="row kol">
        <div class="container kol">
          <form enctype="multipart/form-data" method="post"> <!-- Do wysyłania plików -->
            {% csrf_token %}

          <p class="wnioski2">$Tytuł/Nazwa : {{ form.title }}</p>
          <p class="wnioski2">$Opis : {{ form.body }}</p>
          <p class="wnioski2">$Obrazek : {{ form.image }}</p>
          <p class="wnioski2">$Data Rozpoczęcia : {{ form.datefrom }}</p>
          <p class="wnioski2">$Data Zakończenia : {{ form.dateto }}</p>
          <p class="wnioski2">$Czy składka pieniężna? : {{ form.is_paid }}</p>
          {% if user.role_council > 2 %} <!-- Opcje dla Patronów -->
           <p class="wnioski2">$Czy impreza komercyjna? : {{ form.is_commercial }}</p>
           <p class="wnioski2">$Czy impreza masowa? : {{ form.is_mass_event }}</p>
          {% endif %}
          {% if user.role_council > 1 %} <!-- Opcje dla Członków -->
           {% if user.showme_adultcontent %}
           <p class="wnioski2">$Tylko dla dorosłych? : {{ form.is_adult_only }}</p>
           <div class="toggle" id="id_is_adult_only_row"> <!-- div ukrywający opcje dla dorosłych -->
            <p class="wnioski2">$Seksimpreza? : {{ form.is_sex_party }}</p>
            <p class="wnioski2">$Z alkoholem? : {{ form.is_alcohol }}</p>
            <p class="wnioski2">$Dla palących? : {{ form.is_tobacco }}</p>
            <p class="wnioski2">$Inne używki (jakie?) : {{ form.other_drugs }}</p>
           </div>
           <div class="toggle" id="id_is_sex_party_row"> <!-- div ukrywający opcje dla dorosłych -->
            <br>
            <p class="wnioski2">Orientacja:</p>
            <p class="wnioski2">$Dla hetero : {{ form.is_for_straight }}</p>
            <p class="wnioski2">$Dla homo : {{ form.is_for_gay }}</p>
            <p class="wnioski2">$Dla bi : {{ form.is_for_bi }}</p>
            <p class="wnioski2">$Dla trans : {{ form.is_for_trans }}</p>
            <p class="wnioski2">$Dla innych orientacji : {{ form.is_for_other }}</p>
            <p class="wnioski2">$Inne preferencje (Jakie): {{ form.other_preferences }}</p>
            <br>
            <p class="wnioski2">$Rola/Aktywność:</p>
            <p class="wnioski2">$Dla pasywnych : {{ form.is_for_passive }}</p>
            <p class="wnioski2">$Dla raczej pasywnych : {{ form.is_for_r_passive }}</p>
            <p class="wnioski2">$Dla switchy : {{ form.is_for_switch }}</p>
            <p class="wnioski2">$Dla raczej aktywnych : {{ form.is_for_r_active }}</p>
            <p class="wnioski2">$Dla aktywnych : {{ form.is_for_active }}</p>
            <br>
            <p class="wnioski2">$Dominacja:</p>
            <p class="wnioski2">$Dla uległych: {{ form.is_for_submisive }}</p>
            <p class="wnioski2">$Dla raczej uległych : {{ form.is_for_r_submissive }}</p>
            <p class="wnioski2">$Dla neutralnych : {{ form.is_for_neutral }}</p>
            <p class="wnioski2">$Dla raczej dominujących : {{ form.is_for_r_dominant }}</p>
            <p class="wnioski2">$Dla dominujących : {{ form.is_for_dominant }}</p>
           </div>
           {% endif %}
          {% endif %}


          <button id="send" class="button btn btn-dark btn-sm" name="subbutton" value="send" type="submit">$Dodaj nowe wydarzenie</button>
          </form>
        </div>
      </div><!-- /.row -->
    </main>
    <!-- empty div -->
      <div class="top-content">
        <div class="container">
      <div class="row">	<div class="col-sm-12 text wow fadeInLeft"></div></div>


    </div>
    </div>
{% endblock body %}


{% block scripts %}
  {% include 'widgets/date_period.html' %}
{% endblock %}
{% block scripts2 %}
  <script src="/static/assets/js/event_adult_switch.js"></script>
{% endblock %}
