{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>{{ menu.new_event }}</title>
{% endblock %}

{% block css %}
{% endblock %}
{% block css2 %}
{% endblock %}

<!--Zwraca oryginalną kompozycję menu z bazy. Potem podstawiasz zmienne,-->
{% block aside %}
 {{ block.super }}
{% endblock aside %}

{% block menu %}
  {% include 'menus/eventsmenu.html' %} <!-- Menu z opcjami -->
{% endblock menu %}

{% block body %}

    <main role="main kol">
      <div class="row kol">
        <div class="container kol">
          <form enctype="multipart/form-data" method="post"> <!-- Do wysyłania plików -->
            {% csrf_token %}

          <p class="wnioski2">$Tytuł/Nazwa : {{ form.title }}</p>
          <p class="wnioski2">$Opis : {{ form.body }}</p>
          <p class="wnioski2">$Obrazek : {{ form.image }}</p>
          <p class="wnioski2">$Data Rozpoczęcia : {{ form.datefrom }}</p>
          <p class="wnioski2">$Data Zakończenia : {{ form.dateto }}</p>

          <button id="send" class="button btn btn-dark btn-sm" name="subbutton" type="submit">$Dodaj nowe wydarzenie</button>
        </div>
      </div><!-- /.row -->
    </main>
    <!-- empty div -->
      <div class="top-content">
        <div class="container">
      <div class="row">	<div class="col-sm-12 text wow fadeInLeft"></div></div>


    </div>
    </div>
{% endblock body %}


{% block scripts %}
  {% include 'widgets/date_period.html' %}
{% endblock %}
{% block scripts2 %}
{% endblock %}
