<!--Ten kawałek kodu widzi osoba z uprwnieniami do edycji wydarzenia -->
<div class="container">
  <button class="btn btn-link-3 btn-light untoggle" value="0" name="safety_valve_event">$Usuń wydarzenie</button>
  <div name="EventButtonHiddenDiv" class="toggle" value="0">
   <form name="EventDeleteForm" method="post" class="form form-inline">
    {% csrf_token %}
    <p class="wnioski2">Na pewno chcesz usunąć to wydarzenie?</p>
    <button class="btn btn-link-3 btn-light" name="delete_event" type="submit">$Tak usuń trwale!</button>
    <button name="dont_delete_event" class="btn btn-link-3 btn-light" value="0">$Nie usuwaj!</button>
   </form>
  </div>
  <p>$Dodano: {{ event.pubdate_short }}<br>
  $Przez: {{ event.owner.first_name }}<p>
  <p>$Zaczyna się: {{ event.datefrom }}<br>
  $Kończy się: {{ event.dateto }}</p>
</div>
