<!--Przycisk do usuwania jednego elementu z serii -->
<button name="safety_valve" class="btn btn-link-3 btn-light untoggle" value="{{ forloop.counter0 }}">$Usuń dział</button>

<form name="EventChildDeleteForm" method="post" class="form form-inline">
  {% csrf_token %}
 <div name="ButtonHiddenDiv" value="{{ forloop.counter0 }}" class="toggle">
   <p class="wnioski2">Na pewno chcesz usunąć ten dział?</p>
  <button class="btn btn-link-3 btn-light" name="delete_division"
   {% if show_divisions %}
    value="{{ divider.id }}"
   {% endif %}
   {% if show_taxes %}
    value="{{ tax_panel.id }}"
   {% endif %}
   type="submit">$Tak, usuń trwale!</button>
   <button name="dont_delete" class="btn btn-link-3 btn-light" value="{{ forloop.counter0 }}">$Nie usuwaj!</button>
 </div>

</form>
