<!-- Dwa guziki pokazują się w zależności od tego czy wyświetlasz składki, czy uczestników -->
{% if not show_divisions %}
  <button><a href="{% url 'event' event.id True False %}">$Pokaż Uczestników</a></button>
{% endif %}
{% if not show_taxes %}
  <button><a href="{% url 'event' event.id False True %}">Pokaż Składki</a></button>
{% endif %}
{% if show_divisions %}
  {% if editor_view %} <!-- Zależnie czy twórca, czy ktoś z zewnątrz, to pojawia się inny widok -->
    {% include 'elements/divisions_edit.html' %}
  {% else %}
    {% include 'elements/divisions_view.html' %}
  {% endif %}
 <!-- W opcji z działami -->
{% endif %}
{% if show_taxes %}
  {% if editor_view %} <!-- Zależnie czy twórca, czy ktoś z zewnątrz, to pojawia się inny widok -->
    {% include 'elements/taxes_edit.html'%}
  {% else %}
    {% include 'elements/taxes_view.html' %}
  {% endif %}
  <!-- W opcji ze składkami -->
{% endif %}
