{% for tax_panel in tax_panels %}
  <div class="row">
    <div class="col-md-12 event-main">
      <hr/>
        <h3>{{ tax_panel.title }}</h3>
        <div class="row">
          <div class="col-md-7">
            <p>{{ tax_panel.descr }}</p>
          </div>
          <div class="col-md-5">
            <img class="img-fluid" src="{{ tax_panel.image.url }}" width=100% height=auto />
          </div
        </div>
         {% for tax in taxes %}
          {% if tax.from_event.id == tax_panel.id %}
          <h4>{{ tax.title }}<h4>
<!--TO DO-->      <!--Tutaj daj kolejne dane składki-->
          {% endif %}
         {% endfor %}
    </div>
  </div><!-- /.row -->
{% endfor %}

{% include 'elements/taxdivisionfooter.html' %}
