{% extends 'base.html' %}

{% block title %}
<title>Ustawienia i edycja profilu</title>
{% endblock %}

{% load static %}

<!-- Nullifikator bocznego menu z base.html Nie ruszaj tego, jak i end-taga!-->
{% block aside %}
<!-- Null -->
{% block body %}

<div class="card cardio">
<div class="maintitle">{{ profileitem.profile_settings }}</div>
<div class="card-body">
<div class="maintitle">{{ profileitem.general_settings }}</div>
<form enctype="multipart/form-data" name="ProfileForm" method="post" class="form form-inline">
  <p class ="userdata"><span title="{{ profileitem.mnemo_explanation }}"><b class="bolder">{{ profileitem.mnemo_login }}: </b> <b class="bolder2">{{ udata.mnemo_login }}</b></span></p>
  <p class ="userdata"><b class="bolder">{{ regitem.name }}: </b> <b class="bolder2"> {{ form.first_name }} </b></p>
  <p class ="userdata"><span title="{{ profileitem.age_explanation }}"><b class="bolder">{{ regitem.age }}: </b> <b class="bolder2"> {{ form.age }} </b></span></p>
{% if udata.is_adult > 0 %} <!-- Start blokada małoletnich -->
  {% if udata.avatar1 %}
  <img class="imgshdw float-left img-fluid" src="{{ udata.avatar1.url }}" />
  {% endif %}
  <p class ="userdata"><b class="bolder">{{ profileitem.avatar }}:  </b><b class="bolder2"> {{ form.avatar1 }}  </b></p>
  {% if user.role_council > 2 %}
   <!-- Dodatkowe dwa awatary dla patronów -->
   {% if udata.avatar2 %}
   <img class="imgshdw float-left img-fluid" src="{{ udata.avatar2.url }}" />
   {% endif %}
   <p class ="userdata"><b class="bolder">{{ profileitem.avatar }} #2:  </b><b class="bolder2"> {{ form.avatar2 }}  </b></p>
   {% if udata.avatar3 %}
   <img class="imgshdw float-left img-fluid" src="{{ udata.avatar3.url }}" />
   {% endif %}
   <p class ="userdata"><b class="bolder">{{ profileitem.avatar }} #3:  </b><b class="bolder2"> {{ form.avatar3 }}  </b></p>
  {% endif %}
  <p class ="userdata"><b class="bolder">{{ regitem.gender }}:  <select id="Genderselector">
    <option {% if user.gender == 0 %} selected="selected" {% endif %} value ="0">{{ regitem.other }}</option>
    <option {% if user.gender == 1 %} selected="selected" {% endif %} value ="1">{{ regitem.male }}</option>
    <option {% if user.gender == 2 %} selected="selected" {% endif %} value ="2">{{ regitem.female }}</option>
  </select></p>
  <p>{{ form.gender }}</p>

  <p class ="userdata"><span title="{{ profileitem.contact_explanation }}"><b class="bolder">{{ profileitem.telephone }}: </b><b class="bolder2"> {{ form.telephone }}</b></span></p>
  <p class ="userdata"><span title="{{ profileitem.contact_explanation }}"><b class="bolder">{{ profileitem.other_contact }}: </b><b class="bolder2"> {{ form.other_contact }}</b></span></p>
  <p class ="userdata"><b class="bolder">{{ profileitem.about_me }}:  </b><b class="bolder2"> {{ form.about_me }}  </b></p>
  <p class ="userdata"><b class="bolder">{{ profileitem.interests }}:  </b><b class="bolder2"> {{ form.interests }}  </b></p>


<!-- START DOROSŁE OPCJE -->
  {% if user.is_adult == 2 %}
  <div class="maintitle">{{ profileitem.adult_settings }}</div>
   <p class ="userdata"><b class="bolder">{{ profileitem.showme_adultcontent }}:  </b><b class="bolder2"> {{ form.showme_adultcontent }}  </b></p>
  {% if user.showme_adultcontent %}
     <p class ="userdata"><b class="bolder">{{ profileitem.sex_preference }}:  <select id="Sex_preference_selector">
       <option {% if user.sex_preference == 0 %} selected="selected" {% endif %} value ="0">{{ profileitem.nochoice }}</option>
       <option {% if user.sex_preference == 1 %} selected="selected" {% endif %} value ="1">{{ profileitem.straight }}</option>
       <option {% if user.sex_preference == 2 %} selected="selected" {% endif %} value ="2">{{ profileitem.gay }}</option>
       <option {% if user.sex_preference == 3 %} selected="selected" {% endif %} value ="3">{{ profileitem.bi }}</option>
       <option {% if user.sex_preference == 4 %} selected="selected" {% endif %} value ="4">{{ profileitem.trans }}</option>
       <option {% if user.sex_preference == 5 %} selected="selected" {% endif %} value ="5">{{ profileitem.other }}</option>
     </select></p>
     <p>{{ form.sex_preference }}</p>
  {% if user.sex_preference == 5 %}
   <p class ="userdata"><b class="bolder">{{ profileitem.other_preference }}:  </b><b class="bolder2"> {{ form.other_preference }}  </b></p>
  {% endif %}
   <p class ="userdata"><b class="bolder">{{ profileitem.showmy_sexorientation }}:  </b><b class="bolder2"> {{ form.showmy_sexorientation }}  </b></p>

   <!--Start Rola w Seksie -->
   <p class ="userdata"><b class="bolder">{{ profileitem.sex_role_activity }}:  <select id="Sex_activity_selector">
     <option {% if user.sex_role_activity == 0 %} selected="selected" {% endif %} value ="0">{{ profileitem.nochoice }}</option>
     <option {% if user.sex_role_activity == 1 %} selected="selected" {% endif %} value ="1">{{ profileitem.passive }}</option>
     <option {% if user.sex_role_activity == 2 %} selected="selected" {% endif %} value ="2">{{ profileitem.rather }} {{ profileitem.passive }}</option>
     <option {% if user.sex_role_activity == 3 %} selected="selected" {% endif %} value ="3">{{ profileitem.switch }}</option>
     <option {% if user.sex_role_activity == 4 %} selected="selected" {% endif %} value ="4">{{ profileitem.rather }} {{ profileitem.active }}</option>
     <option {% if user.sex_role_activity == 5 %} selected="selected" {% endif %} value ="5">{{ profileitem.active }}</option>
   </select></p>
   <p>{{ form.sex_role_activity }}</p>
   <p class ="userdata"><b class="bolder">{{ profileitem.sex_role_dominance }}:  <select id="Sex_dominance_selector">
     <option {% if user.sex_role_dominance == 0 %} selected="selected" {% endif %} value ="0">{{ profileitem.nochoice }}</option>
     <option {% if user.sex_role_dominance == 1 %} selected="selected" {% endif %} value ="1">{{ profileitem.submissive }}</option>
     <option {% if user.sex_role_dominance == 2 %} selected="selected" {% endif %} value ="2">{{ profileitem.rather }} {{ profileitem.submissive }}</option>
     <option {% if user.sex_role_dominance == 3 %} selected="selected" {% endif %} value ="3">{{ profileitem.switch }}</option>
     <option {% if user.sex_role_dominance == 4 %} selected="selected" {% endif %} value ="4">{{ profileitem.rather }} {{ profileitem.dominant }}</option>
     <option {% if user.sex_role_dominance == 5 %} selected="selected" {% endif %} value ="5">{{ profileitem.dominant }}</option>
   </select></p>
   <p>{{ form.sex_role_dominance }}</p>
   <p class ="userdata"><b class="bolder">{{ profileitem.showmy_sexrole }}:  </b><b class="bolder2"> {{ form.showmy_sexrole }}  </b></p>
   <!--Koniec Rola w Seksie -->
   <p class ="userdata"><b class="bolder">{{ profileitem.showme_sexevents }}:  </b><b class="bolder2"> {{ form.showme_sexevents }}  </b></p>

   <!--Start Używki -->
   <p class ="userdata"><b class="bolder">{{ profileitem.alcohol }}:  <select id="Alcohol_selector">
     <option {% if user.alcohol == 0 %} selected="selected" {% endif %} value ="0">{{ profileitem.no_tolerance }}</option>
     <option {% if user.alcohol == 1 %} selected="selected" {% endif %} value ="1">{{ profileitem.with_others }}</option>
     <option {% if user.alcohol == 2 %} selected="selected" {% endif %} value ="2">{{ profileitem.occasionally }}</option>
     <option {% if user.alcohol == 3 %} selected="selected" {% endif %} value ="3">{{ profileitem.heavily }}</option>
   </select></p>
    <p>{{ form.alcohol }}</p>
    <p class ="userdata"><b class="bolder">{{ profileitem.tobacco }}:  <select id="Tobacco_selector">
      <option {% if user.tobacco == 0 %} selected="selected" {% endif %} value ="0">{{ profileitem.no_tolerance }}</option>
      <option {% if user.tobacco == 1 %} selected="selected" {% endif %} value ="1">{{ profileitem.with_others }}</option>
      <option {% if user.tobacco == 2 %} selected="selected" {% endif %} value ="2">{{ profileitem.occasionally }}</option>
      <option {% if user.tobacco == 3 %} selected="selected" {% endif %} value ="3">{{ profileitem.heavily }}</option>
    </select></p>
     <p>{{ form.tobacco }}</p>
    <p class ="userdata"><b class="bolder">{{ profileitem.other_drugs }}:  </b><b class="bolder2"> {{ form.other_drugs }}  </b></p>
    <!--Koniec Używki-->
  {% endif %}
  {% endif %}
  <!-- KONIEC DOROSŁE OPCJE -->
  <!-- Start Mailing -->
  <div class="maintitle">{{ profileitem.mailing_settings }}</div>
  <p class ="userdata"><b class="bolder">{{ profileitem.showme_commercial }}: </b> <b class="bolder2"> {{ form.showme_commercial }} </b></p>
  <p class ="userdata"><b class="bolder">{{ profileitem.showme_massevents }}: </b> <b class="bolder2"> {{ form.showme_massevents }} </b></p>
  <p class ="userdata"><b class="bolder">{{ profileitem.sendme_inv_status_me }}: </b> <b class="bolder2"> {{ form.sendme_inv_status_me }} </b></p>
  <p class ="userdata"><b class="bolder">{{ profileitem.sendme_inv_status_others }}: </b> <b class="bolder2"> {{ form.sendme_inv_status_others }} </b></p>
  <p class ="userdata"><b class="bolder">{{ profileitem.sendme_invitations }}: </b> <b class="bolder2"> {{ form.sendme_invitations }} </b></p>
  <p class ="userdata"><b class="bolder">{{ profileitem.sendme_friend_events }}: </b> <b class="bolder2"> {{ form.sendme_friend_events }} </b></p>
  <p class ="userdata"><b class="bolder">{{ profileitem.sendme_join_request }}: </b> <b class="bolder2"> {{ form.sendme_join_request }} </b></p>


  <!-- Koniec Mailing -->
{% else %}
<p>{{ profileitem.underage_warning }}</p>
{% endif %} <!-- Koniec blokady małoletnich-->

  {% csrf_token %}
    <button id="send" class="btn btn-dark btn-sm btn-block" name="subbutton" type="submit" value="{{ regitem.send_me }}">{{ regitem.send_me }}</button>
</form>
<a class="btn btn-link-3 btn-light" href="{% url 'myprofiledelete' %}">{{ profileitem.myprofiledelete }}</a>
  </div>
</div>


{% endblock body %}
{% endblock aside %}

{% block scripts %}
<script src="{% static "assets/js/jquery.js" %}"></script>
<script src="{% static "genderchange.js" %}"></script>
<script src="{% static "profilechange.js" %}"></script>
{% include 'forms/widgets/date_event_notime.html' %}
{% endblock %}
