<div class="nav-side-menu">
  <div class="maintitle">{{ menu.maintitle }}</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
      <div class="menu-list">
        <ul id="menu-content" class="menu-content collapse out">
          <li>
            <a href="{% url 'events' %}">{{ menu.my_events }}</a>
          </li>
          <li>
            <a href="#">{{ menu.search_events }}</a>
          </li>
          <li>
            <a href="#">{{ menu.my_templates }}</a>
          </li>

        </ul>
  </div>
</div>
<br>
